  body {
      background-image: url('https://wallpapercave.com/wp/wp3157182.jpg');
      background-size: cover;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      max-width: 600px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    #timer-container {
      display: flex;
      margin-bottom: 30px;
    }

    #timer {
      font-size: 72px;
    }

    .input-group {
      margin-bottom: 20px;
    }

    .input-group label {
      display: block;
      font-size: 18px;
      margin-bottom: 5px;
      color: #333;
    }

    .input-group input {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      width: 100%;
    }

    .input-group input:focus {
      outline: none;
    }

    .time-buttons {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .time-buttons button {
      padding: 5px 10px;
      font-size: 14px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin: 0 5px;
    }

    .time-buttons button:hover {
      background-color: #45a049;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 10px;
    }

    button:hover {
      background-color: #45a049;
    }
  container {
      text-align: center;
      margin-top: 50px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 10px;
    }

    button:hover {
      background-color: #45a049;
    }

    .text-box {
      display: none;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      width: 300px;
      margin: 0 auto;
      background-color: #f9f9f9;
    }

    .text-box.active {
      display: block;
    }

    .text-box .close-icon {
      float: right;
      cursor: pointer;
    }

    .text-box .minimize-icon {
      float: right;
      cursor: pointer;
      margin-right: 5px;
    }
